
@{
    ViewData["Title"] = "Mapalmacen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mapa almacen</h1>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>MAPA ALMACEN</h4>
        </div>
        <div class="card-body">

        </div>
    </div>
</div>